<article class="article">

  <iframe src="https://www.youtube.com/embed/ipY-_WHvl_4?feature=oembed&autoplay=1" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <!-- ?feature=oembed&autoplay=1 для автовоспроизведения -->
  <p itemprop="description">Франция построила империю роскоши, над которой никогда не заходит солнце и еще год назад мы верили, что этот
    праздник вечно будет с нами, но у истории всегда есть конец, и теперь в эту безусловную сказку пускают далеко не
    всех. Дрова в камине вдруг превратились в золу, все вокруг застыло, прожектора отвернули от сцены и подмостки
    опустели.</p>
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img loading="lazy" width="770" height="770" src="/img/best-news.png" alt="картинка" itemprop="url contentUrl">
    <meta content="770" itemprop="width">
    <meta content="770" itemprop="height">
  </div>
  <p>Для многих привычное пожухло, свернувшись в трубочку разочарования, и я отчетливо вижу, как за фасадом гримас
    безразличия у русской элиты угадывается надлом досады. Да, старушка Европа чуть приподняв юбку, занесла над
    ноздрями многих пахнущую мойвой писю разочарования, но разве это запах растерянности из трагического пруда? </p>
  <p>Лично я вижу в этой трещине божественные возможности!
    Жизнь не замрет, и не остановится! То, к чему вы привыкли, что любили или любите не превратится во взмах крыльев
    прошлого, полет на которых был раем зажатым в кулак. Потоки любимых вещей, образов, и ювелирных мелодий не
    превратятся в горы фотографий убранных на дальние полки бесконечных лент инстаграма. Скоро вы снова влюбитесь в
    привычную жизнь подлинной, школьно-юношеской любовью. Нежной, невероятно чистой, такой, которую встречают лишь
    раз в жизни!</p>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img loading="lazy" width="770" height="770" src="/img/image-1.png" alt="картинка" itemprop="url contentUrl">
      <meta content="770" itemprop="width">
      <meta content="770" itemprop="height">
    </div>
  <p>Вообразите себе теплый бриллиант рожденный на заре времени в глубине земных недр, вновь представший перед вами
    в сверкающих молниях сноподобной оправы жалящей сердце! Представьте как вы в рвано-плавном ритме снова ходите
    меж прилавков и витрин, чьи цветные огни доводят эйфории. И в этот момент, вы в порыве священного безумия,
    голыми руками готовы вырвать сердце у семейного бюджета.</p>
  <p>Представьте, что шедевры модных домов снова устроили пляску на карнавале рождественского безумия Москвы приводя
    в восторг всех последователей.
    Друзья, совсем скоро ассортимент Louis Vuitton на полках моей Лавки разольется роскошным выбором и начнется
    великое купание в волнах восторга!</p>

  <ul>
    <li>пункт</li>
    <li>пункт</li>
    <li>пункт</li>
    <li>пункт</li>
  </ul>

  <ol>
    <li>пункт</li>
    <li>пункт</li>
    <li>пункт</li>
    <li>пункт</li>
  </ol>

  <a href="#">текст</a>

  <b>текст</b>

  <s>текст</s>

  <u>текст</u>

  <blockquote>Текст цитаты, который подходит по длинне для цитаты</blockquote>

  <blockquote>Текст цитаты, который подходит по длинне для цитаты, только так, чтобы было несколько строк. пум пум пум,
    еще не многоТекст цитаты, который подходит по длинне для цитаты, только так, чтобы было несколько строк. пум пум
    пум, еще не много</blockquote>

  <table>
    <tbody>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>The table body</td>
        <td>with two columns</td>
      </tr>
    </tbody>
  </table>

  <div class="article__post">
    <ul class="article__tags tags list" itemprop="keywords">
      <li class="tags__item">Франция</li>
      <li class="tags__item">Чехия</li>
    </ul>
    <time class="article__date" datetime="2022-01-23">23.01.2022</time>
  </div>
</article>
