<section class="article">
  <div class="article__container container">
    <div class="article__top top">
      <span class="top__date">23.01.2022</span>
      <span class="top__views">
        <img src="/img/svg/views.svg" alt="Просмотры">
        128
      </span>
      <!--#include virtual="/partials/share.html" -->
    </div>
    <div class="article__title">
      <h2>Louis Vuitton - Торговля не останавливается</h2>
    </div>
    <div class="article__description description">
      <p>Франция построила империю роскоши, над которой никогда не заходит солнце и еще год назад мы верили, что этот
        праздник вечно будет с нами, но у истории всегда есть конец, и теперь в эту безусловную сказку пускают далеко не
        всех. Дрова в камине вдруг превратились в золу, все вокруг застыло, прожектора отвернули от сцены и подмостки
        опустели.</p>
      <img src="/img/best-news.png" alt="картинка">
      <p>Для многих привычное пожухло, свернувшись в трубочку разочарования, и я отчетливо вижу, как за фасадом гримас
        безразличия у русской элиты угадывается надлом досады. Да, старушка Европа чуть приподняв юбку, занесла над
        ноздрями многих пахнущую мойвой писю разочарования, но разве это запах растерянности из трагического пруда? </p>
      <p>Лично я вижу в этой трещине божественные возможности!
        Жизнь не замрет, и не остановится! То, к чему вы привыкли, что любили или любите не превратится во взмах крыльев
        прошлого, полет на которых был раем зажатым в кулак. Потоки любимых вещей, образов, и ювелирных мелодий не
        превратятся в горы фотографий убранных на дальние полки бесконечных лент инстаграма. Скоро вы снова влюбитесь в
        привычную жизнь подлинной, школьно-юношеской любовью. Нежной, невероятно чистой, такой, которую встречают лишь
        раз в жизни!</p>
      <img src="/img/best-news.png" alt="картинка">
      <p>Вообразите себе теплый бриллиант рожденный на заре времени в глубине земных недр, вновь представший перед вами
        в сверкающих молниях сноподобной оправы жалящей сердце! Представьте как вы в рвано-плавном ритме снова ходите
        меж прилавков и витрин, чьи цветные огни доводят эйфории. И в этот момент, вы в порыве священного безумия,
        голыми руками готовы вырвать сердце у семейного бюджета.</p>

      <p>Представьте, что шедевры модных домов снова устроили пляску на карнавале рождественского безумия Москвы приводя
        в восторг всех последователей.
        Друзья, совсем скоро ассортимент Louis Vuitton на полках моей Лавки разольется роскошным выбором и начнется
        великое купание в волнах восторга!</p>
    </div>
    <ul class="article__tags tegs list">
      <li class="tags__item">Франция</li>
      <li class="tags__item">Чехия</li>
    </ul>
    <p class="article__date">23.01.2022</p>
  </div>
</section>
