<link rel="stylesheet" href="/css/components/filter.min.css">
<div class="filter-menu" data-filter-menu>

  <div class="filter-menu__header">
    <h2 class="filter-menu__title">Путешествия</h2>
    <button class="filter-menu__close button" data-filter-item>
      <img src="/img/svg/close.svg" alt="закрыть">
    </button>
  </div>

  <div class="filter-menu__filters filters">
    <h2 class="filters__title">Фильтры</h2>
    <button class="filters__reset button">Сбросить</button>
  </div>

  <!--#include virtual="/partials/select/select.html" -->
  <div class="chips">
    <h2 class="chips__title">Популярные тэги</h2>
    <div class="chips__container">
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
      <!--#include virtual="/partials/chips/item.html" -->
    </div>
  </div>
  <div class="video">
    <h2>Видео</h2>
    <div class="video__items">
      <!--#include virtual="/partials/index/common/video.html" -->
      <!--#include virtual="/partials/index/common/video.html" -->
      <!--#include virtual="/partials/index/common/video.html" -->
      <!--#include virtual="/partials/index/common/video.html" -->
    </div>
  </div>
  <div class="like">
    <h2>Вам понравится</h2>
    <div class="like__items">
      <!--#include virtual="/partials/blog-page/like/item.html" -->
      <!--#include virtual="/partials/blog-page/like/item.html" -->
      <!--#include virtual="/partials/blog-page/like/item.html" -->
      <!--#include virtual="/partials/blog-page/like/item.html" -->
      <!--#include virtual="/partials/blog-page/like/item.html" -->
      <!--#include virtual="/partials/blog-page/like/item.html" -->
    </div>
  </div>
</div>
