<link rel="stylesheet" href="/css/components/blog-page/common.min.css">


<script defer src="/js/shop.js"></script>
<section class="common">
  <div class="common__container container">
    <div class="common__head head">
      <div class="head__top top">
        <time class="top__date" datetime="2022-01-23">23.01.2022</time>
        <span class="top__views">
          <img src="/img/svg/views.svg" alt="Просмотры">
          128
        </span>
        <!--#include virtual="/partials/share.html" -->
      </div>
      <h1>Louis Vuitton - Торговля не останавливается</h1>
    </div>
    <!--#include virtual="/partials/blog-page/article.html" -->
    <aside class="aside">
      <!--#include virtual="/partials/blog-page/aside.html" -->
    </aside>
    <aside class="common__shop shop">
      <div class="swiper shop__swiper">
        <div class="swiper-wrapper">
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->
          <!--#include virtual="/partials/blog-page/shop-slide.html" -->

        </div>
        <div class="swiper__navigation">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </aside>
  </div>
</section>
