

<article class="swiper-slide">
  <div class="swiper-slide__image">
    <img loading="lazy" width="170" height="207" src="/img/best-news.png" alt="image">
  </div>
  <div class="swiper-slide__content content">
    <p class="content__title">Iphone 14 Pro Max 256 Gb Deep Purple</p>
    <p class="content__price">116 000 <span>₽</span></p>
    <a class="content__buy" href="https://vernik.me/catalog/iphone-14-pro-max-256gb-deep-purple/" target="_blank">Купить</a>
    <a class="content__more" href="https://vernik.me/catalog/iphone-14-pro-max-256gb-deep-purple/" target="_blank">Подробнее</a>
  </div>
</article>
