<div class="secondary__chips chips">
  <h2 class="chips__title">Популярные страны и города</h2>
  <div class="chips__container">
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
    <!--#include virtual="/partials/chips/item.html" -->
  </div>
</div>
