<script defer src="/js/select.min.js"></script>
<div class="secondary__select select">
  <h2>Сменить страну или город</h2>
  <div class="select__container">
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
    <!--#include virtual="/partials/select/item.html" -->
  </div>
</div>
