<link rel="stylesheet" href="/css/components/index/common.min.css">
<section class="common">
  <div class="common__container container">

    <div class="common__latest-news latest-news">
      <p class="latest-news__title">Самы свежий контент
        в <a href="#">telegram</a></p>
      <ul class="latest-news__list list">
        <!--#include virtual="/partials/index/common/latest-news.html" -->
        <!--#include virtual="/partials/index/common/latest-news.html" -->
        <!--#include virtual="/partials/index/common/latest-news.html" -->
        <!--#include virtual="/partials/index/common/latest-news.html" -->
      </ul> <!-- /latest-news__list -->
    </div> <!-- /latest-news -->

    <div class="common__best best">
      <script defer src="/js/index/swiper-best.js"></script>
      <div class="swiper best__swiper">
        <div class="swiper-wrapper">
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
        </div>
        <div class="swiper__navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="common__opinions opinions">
      <script defer src="/js/index/swiper-opinions.js"></script>
      <h2 class="opinions__title">Мнения</h2>

      <div class="swiper opinions__swiper">
        <div class="swiper-wrapper">
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
          <!--#include virtual="/partials/index/common/opinions.html" -->
        </div>
        <div class="swiper__navigation">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

    </div>

    <div class="common__travels travels">
      <script defer src="/js/index/travels.min.js"></script>
      <h2 class="travels__title">Путешествия - свежее</h2>
      <div class="travels__buttons buttons">
        <button class="buttons__countries secondary-button buttons__countries_active">Страны</button>
        <button class="buttons__cities secondary-button">Города</button>
      </div>
      <!--#include virtual="/partials/index/common/travels.html" -->
      <a class="travels__more primary-button" href="#">Все статьи про путешествия</a>
    </div>
  </div>
</section>
