<link rel="stylesheet" href="/css/components/index/common.min.css">
<section class="common">
  <div class="common__container container">

    <div class="common__latest latest block">
      <p class="latest__title">Самы свежий контент
        в <a href="#">telegram</a></p>
      <ul class="latest__list list">
        <!--#include virtual="/partials/index/common/latest.html" -->
        <!--#include virtual="/partials/index/common/latest.html" -->
        <!--#include virtual="/partials/index/common/latest.html" -->
        <!--#include virtual="/partials/index/common/latest.html" -->
      </ul> <!-- /latest__list -->
    </div> <!-- /latest -->

    <div class="common__best best block">
      <script defer src="/js/index/swiper-best.js"></script>
      <h2 class="best__title">Лучшее</h2>
      <div class="swiper best__swiper">
        <div class="swiper-wrapper">
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
          <!--#include virtual="/partials/index/common/best.html" -->
        </div>
        <div class="swiper__navigation">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <div class="common__right block">

      <div class="common__opinions opinions">
        <script defer src="/js/index/swiper-opinions.js"></script>
        <h2 class="opinions__title">Мнение</h2>

        <div class="swiper opinions__swiper">
          <div class="swiper-wrapper">
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
            <!--#include virtual="/partials/index/common/opinions.html" -->
          </div>
          <div class="swiper__navigation">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

      </div>

      <div class="common__video video">
        <h2 class="video__title">Видео</h2>
        <div class="video__items">
          <!--#include virtual="/partials/index/common/video.html" -->
          <!--#include virtual="/partials/index/common/video.html" -->
          <!--#include virtual="/partials/index/common/video.html" -->
        </div>
        <a class="video__more primary-button" href="#">Плейлисты</a>
      </div>
    </div>

    <div class="common__travels travels block">
      <script defer src="/js/index/travels.min.js"></script>
      <h2 class="travels__title">Путешествия - свежее</h2>
      <div class="travels__buttons buttons">
        <button class="buttons__change secondary-button buttons__change_active">Страны</button>
        <button class="buttons__change secondary-button">Города</button>
      </div>
      <div class="travels__content content content_active">
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
      </div>
      <div class="travels__content content">
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
        <!--#include virtual="/partials/index/common/travels.html" -->
      </div>
      <a class="travels__more primary-button" href="#">Все статьи про путешествия</a>
    </div>
  </div>
</section>
