<article class="swiper-slide">
  <div class="swiper-slide__cover cover">
    <a class="cover__image card-background" href="/blog-page.html" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="135" height="240" alt="alt" itemprop="url contentUrl">
    </a>
    <a class="cover__label label teg" href="/travels.html">Шопинг</a>
    <a class="cover__label label time" href="/blog-page.html">5 мин</a>
    <time class="cover__label label date" datetime="2022-12-31" itemprop="datePublished">
      <a class="label" href="/travels.html">31.12.2022</a>
    </time>
  </div>
  <h1 class="swiper-slide__title" itemprop="headline">
    <a href="/blog-page.html" itemprop="mainEntityOfPage">
      Louis Vuitton. <br> Торговля не останавливается
    </a>
  </h1>
</article>
