<article class="swiper-slide">
  <div class="swiper-slide__cover cover">
    <a class="cover__image card-background" href="/blog-page.html">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="135" height="240" alt="alt">
  </a>
    <a class="cover__label label teg" href="#">Шопинг</a>
    <a class="cover__label label time" href="#">5 мин</a>
    <time class="cover__label label date" datetime="2022-12-31">
      <a class="label" href="#">31.12.2022</a>
    </time>
  </div>
  <h1 class="swiper-slide__title">
    <a href="/blog-page.html">
      Louis Vuitton. <br> Торговля не останавливается
    </a>
  </h1>
</article>
