<div class="swiper-slide">
  <div class="swiper-slide__cover cover">
    <a class="cover__image card-background" href="/blog-page.html">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="135" height="240" alt="alt">
  </a>
    <a class="cover__label label" href="#">5 мин</a>
  </div>
  <a href="/blog-page.html">
    <h3 class="swiper-slide__title">Заголовок из пары слов</h3>
    <p class="swiper-slide__date">30.08.2022</p>
    <p class="swiper-slide__description">Почему нельзя покупать iPhone на AliExpress</p>
  </a>
</div>
