<article class="content__item item">
  <div class="item__cover cover">
    <a class="cover__image card-background" href="/blog-page.html">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="135" height="240" alt="alt">
    </a>
    <a class="cover__title" href="#">Франция</a>
    <a class="cover__label label teg">Шопинг</a>
    <a class="cover__label label time">5 мин</a>
  </div>
  <a href="/blog-page.html">
    <time class="item__date text" datetime="2022-12-19">19.12.2022</time>
    <p class="item__name text">Торговое паломничество в Европу.</p>
    <p class="item__description text">Париж.</p>
  </a>
</article>
