<div class="travels__countries countries countries_active">
  <!--#include virtual="/partials/index/common/travels/countries.html" -->
  <!--#include virtual="/partials/index/common/travels/countries.html" -->
  <!--#include virtual="/partials/index/common/travels/countries.html" -->
  <!--#include virtual="/partials/index/common/travels/countries.html" -->
</div>
<div class="travels__cities cities">
  <!--#include virtual="/partials/index/common/travels/cities.html" -->
  <!--#include virtual="/partials/index/common/travels/cities.html" -->
  <!--#include virtual="/partials/index/common/travels/cities.html" -->
  <!--#include virtual="/partials/index/common/travels/cities.html" -->
</div>
