<article class="content__item item">
  <div class="item__cover cover">
    <a class="cover__image card-background" href="/blog-page.html" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img loading="lazy" src="/img/image-3.png" class="card-background__image" width="135" height="240" alt="alt" itemprop="url contentUrl">
    </a>
    <a class="cover__title" href="/travels.html">Франция</a>
    <a class="cover__label label teg" href="/travels.html">Шопинг</a>
    <a class="cover__label label time" href="/blog-page.html">5 мин</a>
  </div>
  <a href="/blog-page.html" itemprop="headline">
    <time class="item__date text" datetime="2022-12-19" itemprop="datePublished">19.12.2022</time>
    <p class="item__name text" itemprop="mainEntityOfPage">Торговое паломничество в Европу.</p>
    <p class="item__description text">Париж.</p>
  </a>
</article>
