<article class="video__item item">
    <a class="item__cover card-background" href="/blog-page.html">
      <img loading="lazy" src="/img/video.png" class="card-background__image" width="135" height="240" alt="alt">
    </a>
  <a class="item__text text" href="/blog-page.html">
    <h3 class="text__title">Путешествие Макса Верника в Санкт-Петербург. Петергоф</h3>
    <time class="text__date" datetime="2022-02-23" itemprop="datePublished">23.02.2022</time>
    <p class="text__description">Друзья, сегодня я начинаю свое путешествие в Санкт-Петербург культурную столицу России!!!</p>
  </a>
</article>
