<article class="content__item item">
  <div class="item__cover cover">
    <a class="cover__image card-background" href="/blog-page.html" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="135" height="240" alt="alt" itemprop="url contentUrl">
    </a>
    <a class="cover__label label teg" href="/travels.html">Шопинг</a>
    <a class="cover__label label time" href="/blog-page.html">5 мин</a>
    <time class="cover__label label date" datetime="2022-12-19" itemprop="datePublished">
      <a class="label" href="/travels.html">19.12.2022</a>
    </time>
  </div>
  <a href="/blog-page.html" itemprop="headline">
    <h2>Louis Vuitton - Торговля не останавливается</h2>
    <p class="item__description text">Франция построила империю роскоши, над которой никогда не заходит солнце и еще год назад мы верили, что этот праздник вечно будет с нами, но у истории всегда есть конец, и теперь в эту безусловную сказку пускают далеко не всех.</p>
  </a>
</article>
