<link rel="stylesheet" href="/css/components/breadcrumbs.min.css">

<div class="breadcrumbs container">
  <ul class="breadcrumbs__list list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

    <li class="list__item">
      <a href="#" id="breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        Путешествия
      </a>
    </li>

    <li class="list__item">
      <a href="#" id="breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        Страна
      </a>
    </li>

    <li class="list__item">
      <a href="#" id="breadcrumb_2" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        Город
      </a>
    </li>

    <li class="list__item">
      <a href="#" id="breadcrumb_3" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        Louis Vuitton - Торговля не останавливается
      </a>
    </li>

  </ul>
</div>
