<link rel="stylesheet" href="/css/components/burger-menu.min.css">
<script defer src="/js/burger-menu.min.js"></script>
<div class="burger-menu" data-burger-menu>
  <div class="burger-menu__overlay" data-menu-overlay></div>
  <div class="burger-menu__container">
    <nav class="burger-menu__nav nav">
      <ul class="nav__list list">

        <li class="list__item">
          <a href="/travels.html">Путешествия</a>
          <ul class="list">
            <li><a href="/travels.html">Страны</a></li>
            <li><a href="/travels.html">Города</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="/travels.html">Обзоры</a>
          <ul class="list">
            <li><a href="/travels.html">Техника</a></li>
            <li><a href="/travels.html">Рестораны</a></li>
            <li><a href="/travels.html">Магазины</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="/travels.html">Видео</a>
          <ul class="list">
            <li><a href="/travels.html">Плейлисты</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="/travels.html">Советы</a>
        </li>

        <li class="list__item">
          <a href="/travels.html">Мнения</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
