<link rel="stylesheet" href="/css/components/burger-menu.min.css">
<script defer src="/js/burger-menu.min.js"></script>
<div class="burger-menu" data-burger-menu>
  <div class="burger-menu__container" data-menu-overlay>
    <nav class="burger-menu__nav nav">
      <ul class="nav__list list">

        <li class="list__item">
          <a href="#" data-menu-item>Путешествия</a>
          <ul class="list">
            <li><a href="#">Страны</a></li>
            <li><a href="#">Города</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="#" data-menu-item>Обзоры</a>
          <ul class="list">
            <li><a href="#">Техника</a></li>
            <li><a href="#">Рестораны</a></li>
            <li><a href="#">Магазины</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="#" data-menu-item>Видео</a>
          <ul class="list">
            <li><a href="#">Плейлисты</a></li>
          </ul>
        </li>

        <li class="list__item">
          <a href="#" data-menu-item>Советы</a>
        </li>

        <li class="list__item">
          <a href="#" data-menu-item>Мнения</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
