<link rel="stylesheet" href="/css/components/filter.min.css">
<div class="secandary__filter filter-menu" data-filter-menu>

  <div class="filter-menu__header">
    <h2 class="filter-menu__title">Путешествия</h2>
    <button class="filter-menu__close button" data-filter-item>
      <img src="/img/svg/close.svg" alt="закрыть">
    </button>
  </div>

  <div class="filter-menu__filters filters">
    <h2 class="filters__title">Фильтры</h2>
    <button class="filters__reset button">Сбросить</button>
  </div>

  <!--#include virtual="/partials/select/select.html" -->
  <!--#include virtual="/partials/chips/chips.html" -->

  <link rel="stylesheet" href="/css/components/filter.min.css">
  <link rel="stylesheet" href="/css/hello.week.min.css">
  <link rel="stylesheet" href="/css/components/calendar.min.css">
  <script defer src="/js/lib/hello.week.min.js"></script>
  <script defer src="/js/calendar.min.js"></script>
  <div class="calendar">
    <h2>Дата публикации</h2>
  </div>

  <button class="filter-menu__apply primary-button">Применить</button>
</div>
