</main>

<footer class="footer" itemscope itemtype="https://schema.org/WPFooter">
  <div class="footer__container container">
    <p class="footer__title">
      <a href="/">
        Журнал Макса Верника
      </a>
    </p>
    <time class="footer__timestamp" datetime="2023-02-06">Вторник, Февраль 6, 2023</time>
    <nav class="footer-nav footer__nav">
      <ul class="footer-nav__list list">
        <li class="footer-nav__item"><a href="/travels.html">Путешествия</a>
          <ul class="list">
            <li><a href="/travels.html">Страны</a></li>
            <li><a href="/travels.html">Города</a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="/travels.html">Обзоры</a>
          <ul class="list">
            <li><a href="/travels.html">Техника</a></li>
            <li><a href="/travels.html">Рестораны </a></li>
            <li><a href="/travels.html">Магазины </a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="/travels.html">Видео</a>
          <ul class="list">
            <li><a href="/travels.html">Плейлисты</a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="/travels.html">Мнение</a></li>
        <li class="footer-nav__item"><a href="/travels.html">Советы</a></li>
      </ul>
    </nav>
  </div> <!-- /footer__container -->
</footer>
<!--#include virtual="/partials/burger-menu.html" -->
</div> <!-- /site-container -->
</body>

</html>
