</main>

<footer class="footer">
  <div class="footer__container container">
    <p class="footer__title">
      <a href="/">
        Журнал Макса Верника
      </a>
    </p>
    <p class="footer__timestamp">Вторник, Январь 3, 2023</p>
    <nav class="footer-nav footer__nav">
      <ul class="footer-nav__list list">
        <li class="footer-nav__item"><a href="#">Путешествия</a>
          <ul class="list">
            <li><a href="#">Страны</a></li>
            <li><a href="#">Города</a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="#">Обзоры</a>
          <ul class="list">
            <li><a href="#">Техника</a></li>
            <li><a href="#">Рестораны </a></li>
            <li><a href="#">Магазины </a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="#">Видео</a>
          <ul class="list">
            <li><a href="#">Плейлисты</a></li>
          </ul>
        </li>
        <li class="footer-nav__item"><a href="#">Мнение</a></li>
        <li class="footer-nav__item"><a href="#">Советы</a></li>
      </ul>
    </nav>
  </div> <!-- /footer__container -->
</footer>
</div> <!-- /site-container -->
</body>

</html>
