<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="utf-8">

  <title><!--#echo var="TITLE" --></title>
  <meta name="description" content="<!--#echo var=" DESCRIPTION" -->">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="stylesheet" href="/css/components/header.min.css">
  <link rel="stylesheet" href="/css/components/footer.min.css">
  <script defer src="/js/main.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

<body class="page__body">
  <div class="site-container">
    <header class="header">
      <div class="header__container container">

        <div class="header__buttons">

          <button class="header__burger burger button">
            <img class="button__icon" src="/img/svg/burger.svg" alt="кнопка меню" width="24" height="20">
          </button>

          <form class="header__search search" action="#" onsubmit="event.preventDefault();">
            <button class="search__button button">
              <img class="button__icon" src="/img/svg/search.svg" alt="картинка поиска" width="20" height="20">
            </button>
            <input class="search__input input" name="Поиск" type="text">
            <ul class="search__result result list">
              <li class="result__item"><a href="#">Paris</a></li>
              <li class="result__item"><a href="#">Paris France</a></li>
              <li class="result__item"><a href="#">Paris</a></li>
              <li class="result__item"><a href="#">Paris France</a></li>
              <li class="result__item"><a href="#">Paris</a></li>
              <li class="result__item"><a href="#">Paris France</a></li>
            </ul>
          </form> <!-- /header__search -->

        </div> <!-- /header__buttons -->

        <p class="header__title">
          <a href="/">
            Журнал Макса Верника
          </a>
        </p>

        <span class="header__timestamp">Вторник, Январь 3, 2023</span>

      </div> <!-- /header__container -->

    </header>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item"><a href="#">Путешествия</a></li>
        <li class="nav__item"><a href="#">Обзоры</a></li>
        <li class="nav__item"><a href="#">Видео</a></li>
        <li class="nav__item"><a href="#">Мнения</a></li>
        <li class="nav__item"><a href="#">Советы</a></li>
      </ul>
    </nav> <!-- /nav -->

    <main>
