<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="utf-8">

  <title><!--#echo var="TITLE" --></title>
  <meta name="description" content="<!--#echo var=" DESCRIPTION" -->">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="stylesheet" href="/css/components/header.min.css">
  <link rel="stylesheet" href="/css/components/footer.min.css">
  <script defer src="/js/lib/swiper.min.js"></script>
  <script defer src="/js/main.min.js"></script>
</head>

<body class="page__body" itemscope itemtype="https://schema.org/WebPage">
  <div class="site-container">
    <header class="header" itemscope itemtype="https://schema.org/WPHeader">
      <meta itemprop="description" content="описание блога">
      <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img itemprop="url image" src="https://example.com/img.jpg" width="750" height="200" alt="Мой сайт">
        <meta itemprop="width" content="200">
        <meta itemprop="height" content="200">
      </div> <!-- логотип блога -->

      <div class="header__container container">

        <div class="header__buttons">

          <button class="header__burger burger button" data-burger="">
            <img class="button__icon open" src="/img/svg/burger.svg" alt="кнопка меню" width="24" height="20">
            <img class="button__icon close" src="/img/svg/close.svg" alt="кнопка меню" width="24" height="20">
          </button>

          <form class="header__search search" action="#" onsubmit="event.preventDefault();">
            <button class="search__button button" data-search="">
              <img class="button__icon" src="/img/svg/search.svg" alt="картинка поиска" width="20" height="20">
            </button>
            <input class="search__input input" name="Поиск" type="text">
            <ul class="search__result result list">
              <li class="result__item"><a href="/blog-page.html">Paris</a></li>
              <li class="result__item"><a href="/blog-page.html">Paris France</a></li>
              <li class="result__item"><a href="/blog-page.html">Paris</a></li>
              <li class="result__item"><a href="/blog-page.html">Paris France</a></li>
              <li class="result__item"><a href="/blog-page.html">Paris</a></li>
              <li class="result__item"><a href="/blog-page.html">Paris France Paris France Paris France Paris France
                </a></li>
            </ul>
          </form> <!-- /header__search -->

        </div> <!-- /header__buttons -->

        <p class="header__title" itemprop="name">
          <a href="/">
            Журнал Макса Верника
          </a>
        </p>

        <time class="header__timestamp" datetime="2023-02-06">Вторник, Февраль 6, 2023</time>

      </div> <!-- /header__container -->

    </header>

    <nav class="nav" itemscope itemtype="https://www.schema.org/SiteNavigationElement">
      <ul class="nav__list list">
        <li class="nav__item" style="display: none"><a href="/" itemprop="url">Главная</a></li>
        <li class="nav__item"><a href="/travels.html" itemprop="url">Путешествия</a></li>
        <li class="nav__item"><a href="/travels.html" itemprop="url">Обзоры</a></li>
        <li class="nav__item"><a href="/travels.html" itemprop="url">Видео</a></li>
        <li class="nav__item"><a href="/travels.html" itemprop="url">Мнения</a></li>
        <li class="nav__item"><a href="/travels.html" itemprop="url">Советы</a></li>
      </ul>
    </nav> <!-- /nav -->

    <main>
