<link rel="stylesheet" href="/css/components/recommendations.min.css">
<script defer src="/js/recommendations.js"></script>
<section class="recommendations">
  <div class="recommendations__container container">
    <h2 class="recommendations__title">Советы</h2>

    <div class="swiper recommendations__swiper">
      <div class="swiper-wrapper">
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
        <!--#include virtual="/partials/recommendations/slide.html" -->
      </div>

      <div class="swiper__navigation">
        <a class="swiper__more primary-button" href="#">Все советы</a>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

  </div>
</section>
