<link rel="stylesheet" href="/css/components/reviews.min.css">
<script defer src="/js/reviews.js"></script>
<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title">Обзоры</h2>
    <div class="reviews__buttons buttons">
      <button class="buttons__change secondary-button buttons__change_active">Техника</button>
      <button class="buttons__change secondary-button">Рестораны</button>
    </div>

    <div class="swiper reviews__content">
      <div class="swiper-wrapper">
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
      </div>
      <div class="swiper__navigation">
        <a class="swiper__more primary-button" href="#">Все обзоры</a>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="swiper reviews__content" style="display: none;">
      <div class="swiper-wrapper">
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
        <!--#include virtual="/partials/reviews/slide.html" -->
      </div>
      <div class="swiper__navigation">
        <a class="swiper__more primary-button" href="#">Все обзоры</a>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>


  </div>
</section>




