<link rel="stylesheet" href="/css/components/share.min.css">
<div class="top__share share">
  <button class="top__share">
    <img src="/img/svg/share.svg" alt="поделиться">
    Поделиться
  </button>
  <ul class="share__list list">

    <li class="list__item">
      <a href="#">
        <img src="/img/svg/social/facebook.svg" alt="Иконка facebook">
        Facebook
      </a>
    </li>

    <li class="list__item">
      <a href="#">
        <img src="/img/svg/social/twitter.svg" alt="Иконка twitter">
        Twitter
      </a>
    </li>

    <li class="list__item">
      <a href="#">
        <img src="/img/svg/social/vk.svg" alt="Иконка Vkontakte">
        Vkontakte
      </a>
    </li>

    <li class="list__item">
      <a href="#">
        <img src="/img/svg/social/instagram.svg" alt="Иконка Instagram">
        Instagram
      </a>
    </li>

    <li class="list__item">
      <a href="#">
        <img src="/img/svg/social/telegram.svg" alt="Иконка telegram">
        Telegram
      </a>
    </li>

  </ul>
</div>
