<div class="swiper rewiews__restaurants" style="display: none;">
  <div class="swiper-wrapper">
    <!--#include virtual="/partials/reviews/slide.html" -->
    <!--#include virtual="/partials/reviews/slide.html" -->
    <!--#include virtual="/partials/reviews/slide.html" -->
    <!--#include virtual="/partials/reviews/slide.html" -->
  </div>
  <div class="swiper__navigation">
    <a class="swiper__more primary-button" href="#">Все обзоры</a>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
