<article class="swiper-slide">
  <div class="swiper-slide__cover cover">
    <a class="cover__image card-background" href="#">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="168" height="170" alt="alt">
    </a>
    <a class="cover__label label teg" href="#">Техника</a>
    <a class="cover__label label time" href="#">5 мин</a>
  </div>
  <a class="swiper-slide__text text" href="#">
    <h3 class="text__title">С каким объёмом памяти покупать iPhone?</h3>
    <time class="text__date" datetime="2022-09-01">01.09.2022</time>
    <p class="text__description">На данный момент рынок пестрит большим разнообразием моделей...</p>
  </a>
</article>
