<article class="like__item item">
  <div class="item__cover cover">
    <a class="cover__image card-background" href="/blog-page.html">
      <img loading="lazy" src="/img/best-news.png" class="card-background__image" width="127" height="127" alt="alt">
    </a>
    <a class="cover__label label teg" href="/tavels.html">Техника</a>
    <a class="cover__label label time" href="/blog-page.html">5 мин</a>
  </div>
  <a class="item__text text" href="/blog-page.html">
    <h3 class="text__title">С каким объёмом памяти покупать iPhone?</h3>
    <time class="text__date" datetime="2022-09-01">01.09.2022</time>
    <p class="text__description">На данный момент рынок пестрит большим разнообразием моделей...</p>
  </a>
</article>
