html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-inter, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 300px;
  min-height: 100%;
  font-size: #{rem(16)};
  background: var(--white-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если на сайте position: sticky - убрать эту настройку
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.secondary-button {
  border: none;
  padding: 0;
  background: #ffffff00;
  cursor: pointer;
  text-align: center;
  border: solid 1px var(--dark-color-20);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: #{rem(12)};
  line-height: #{rem(15)};
  text-align: center;
  letter-spacing: -0.019em;
  color: var(--dark-color);
  transition: color .15s var(--cubic-bezier),
    border .15s var(--cubic-bezier),
    background .15s var(--cubic-bezier);

  &:hover {
    color: var(--light-color);
    background: var(--light-dark-color);
    border: solid 1px var(--gray-color);
  }

  &:focus {
    outline: none;
    color: var(--dark-color);
    border: solid 1px var(--dark-color);
  }

  &:disabled {
    border: var(--gray-color);
    color: var(--gray-color);
  }
}

.primary-button {
  border: none;
  padding: 0;
  background: var(--dark-color);
  cursor: pointer;
  text-align: center;
  border: solid 1px var(--dark-color);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: #{rem(12)};
  line-height: #{rem(15)};
  text-align: center;
  letter-spacing: -0.019em;
  color: var(--light-color);
  transition: color .15s var(--cubic-bezier),
    border .15s var(--cubic-bezier),
    background .15s var(--cubic-bezier);

  &:hover {
    color: var(--light-color);
    background: var(--light-dark-color);
    border: solid 1px var(--gray-color);
  }

  &:focus {
    outline: none;
    color: var(--light-color);
    border: solid 1px var(--dark-color);
  }

  &:disabled {
    border: var(--gray-color);
    color: var(--gray-color);
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--white-color);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
input,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

a.label {
  padding: #{rem(2)} #{rem(5)};
  background: var(--white-color);
  border-radius: #{rem(2)};
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: #{rem(10)};
  line-height: #{rem(12)};
  letter-spacing: -0.019em;
  color: var(--dark-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  transition: transform .15s var(--cubic-bezier),
    color .15s var(--cubic-bezier),
    background .15s var(--cubic-bezier);

  &:hover,
  &:focus {
    outline: none;
    transform: translateY(#{rem(-2)});
    color: var(--light-color);
    background: var(--dark-color);
  }
}

a {
  color: var(--dark-color);
  cursor: pointer;
}

h1 {
  font-family: var(--font-neue);
  font-style: normal;
  font-weight: 700;
  font-size: Min(Max(#{rem(16)}, 2.22vw), #{rem(32)});
  line-height: Min(Max(#{rem(15)}, 2.22vw), #{rem(31)});
  color: var(--dark-color);
}

h2 {
  font-family: var(--font-neue);
  font-style: normal;
  font-weight: 700;
  font-size: #{rem(24)};
  line-height: #{rem(23)};
  color: var(--dark-color);
}

h3 {
  font-family: var(--font-neue);
  font-style: normal;
  font-weight: 700;
  font-size: Min(Max(#{rem(14)}, 2.22vw), #{rem(16)});
  line-height: Min(Max(#{rem(14)}, 2.22vw), #{rem(15)});
  color: var(--dark-color);
}

h4 {
  font-family: var(--font-neue);
  font-style: normal;
  font-weight: 700;
  font-size: #{rem(12)};
  line-height: #{rem(12)};
  color: var(--dark-color);
}

.swiper {

  &-wrapper {
    cursor: grab;
  }

  .swiper__navigation {
    margin-top: #{rem(13)};
    display: flex;
    top: #{rem(296)};
    flex-direction: row;
    gap: #{rem(10)};


    & .swiper-button-next,
    & .swiper-button-prev {
      width: #{rem(24)};
      height: #{rem(24)};
      border-radius: 50%;
      border: 1px solid var(--dark-color-40);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: white;
      z-index: 3;
      transition: border .25s var(--cubic-bezier);

      &:hover {
        border: 1px solid var(--dark-color);
      }

      &::before {
        content: '';
        width: #{rem(7)};
        height: #{rem(7)};
        border-top: solid 1px var(--dark-color);
        border-right: solid 1px var(--dark-color);
      }
    }

    & .swiper-button-next {

      &::before {
        position: relative;
        right: #{rem(2)};
        transform: rotate(45deg);
      }
    }

    & .swiper-button-prev {
      margin-left: auto;

      &::before {
        position: relative;
        left: #{rem(2)};
        transform: rotate(-135deg);
      }
    }
  }

  &-pagination {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: #{rem(10)};

    &-bullet {
      width: #{rem(8)};
      height: #{rem(8)};
      background: var(--light-gray-color);
      border-radius: 50%;
      cursor: pointer;
      transition: background .25s var(--cubic-bezier);

      &:hover {
        transform: scale(1.2);
        background: var(--dark-color-60);
      }

      &-active {
        width: #{rem(10)};
        height: #{rem(10)};
        background: var(--dark-color-40);

        &:hover {
          transform: scale(1);
          background: var(--dark-color-40);
        }
      }
    }
  }
}
