// colors
:root {
  // base
  --font-neue: "Neue Machina", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-nova: "Proxima Nova", sans-serif;
  --content-width: #{rem(1170)};
  --container-offset: #{rem(135)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @media (min-width: (1024px)) and (max-width: (1439px)) {
    --container-offset: #{rem(15)};
  }

  @media (min-width: (768px)) and (max-width: (1023px)) {
    --container-offset: #{rem(15)};
  }

  @media (min-width: (320px)) and (max-width: (767px)) {
    --container-offset: #{rem(10)};
  }

  // colors
  --white-color: #fff;
  --light-color: #F5F5F5;
  --light-gray-color: #D9D9D9;
  --gray-color: #BCBDBF;
  --light-dark-color: #454545;
  --dark-color: #313131;

  // cubic
  --def-cub: cubic-bezier(.62,.33,.53,.89);
}
