// colors
:root {
  // base
  --font-neue: "Neue Machina", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-nova: "Proxima Nova", sans-serif;
  --content-width: #{rem(1170)};
  --container-offset: #{rem(0)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @media (max-width: (#{rem(1200)})) {
    --container-offset: #{rem(15)};
  }

  @media (max-width: (#{rem(1023)})) {
    --container-offset: #{rem(15)};
  }

  @media (max-width: (#{rem(767)})) {
    --container-offset: #{rem(10)};
  }

  // colors
  --white-color: #fff;
  --white-color-80: #ffffffcc;
  --light-color: #F5F5F5;
  --light-color-30: #f5f5f54d;
  --light-color-60: #f5f5f599;
  --light-gray-color: #D9D9D9;
  --gray-color: #BCBDBF;
  --light-dark-color: #454545;
  --dark-color: #313131;
  --dark-color-60: #31313199;
  --dark-color-40: #30303066;
  --dark-color-20: #31313133;

  // cubic
  --cubic-bezier: cubic-bezier(.62,.33,.53,.89);
}
