<link rel="stylesheet" href="/css/components/travels/common.min.css">
<script defer src="/js/select.min.js"></script>
<script defer src="/js/pages.min.js"></script>
<script defer src="/js/filter-menu.min.js"></script>
<section class="travels-page" id="travels-page" data-pages="">
  <div class="travels-page__container container">

    <div class="travels-page__header">
      <h1>Путешествия</h1>
      <button class="travels-page__filter button" data-filter="">
        <img class="button__icon" src="/img/svg/filter.svg" alt="фильтры">
        Фильтры
      </button>
    </div>

    <div class="travels-page__wrapper">

      <div class="travels-page__main main">

        <div class="main__top top">
          <h2 class="top__title">Франция</h2>
          <ul class="top__tegs tegs list">
            <li class="tegs__item">Франция</li>
            <li class="tegs__item">Чехия</li>
          </ul>
          <label class="top__sorting sorting select-wrapper">
            <select class="sorting__select select" name="travels-sorting" id="sorting">
              <option value="Сначала новые">Сначала новые</option>
              <option value="Сначала старые">Сначала старые</option>
              <option value="Популярные">Популярные</option>
              <option value="Выбор автора">Выбор автора</option>
            </select>
          </label>
        </div>

        <div class="main__content content" data-content-pages="">
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
          <!--#include virtual="/partials/index/common/travels.html" -->
        </div>

        <div class="main__pagination pagination">
          <a class="pagination__prev pagination__prev_disabled" href="#"></a>
          <ul class="pagination__list list">
            <li class="list__item list__item_active"><a href="#">1</a></li>
            <li class="list__item"><a href="#">2</a></li>
            <li class="list__item"><a href="#">3</a></li>
            <li class="list__item"><a href="#">4</a></li>
            <li class="list__item"><a href="#">...</a></li>
            <li class="list__item"><a href="#">9</a></li>
            <li class="list__item"><a href="#">10</a></li>
          </ul>
          <a class="pagination__next" href="#"></a>
        </div>

        <button class="main__more primary-button" data-more="">Показать еще</button>

      </div>

      <div class="travels-page__secondary secondary">
        <div class="secandary__filter filter-menu" data-filter-menu>

          <div class="filter-menu__header">
            <h2 class="filter-menu__title">Путешествия</h2>
            <button class="filter-menu__close button" data-filter-item>
              <img src="/img/svg/close.svg" alt="закрыть">
            </button>
          </div>

          <div class="filter-menu__filters filters">
            <h2 class="filters__title">Фильтры</h2>
            <button class="filters__reset button">Сбросить</button>
          </div>

          <!--#include virtual="/partials/select/select.html" -->
          <!--#include virtual="/partials/chips/chips.html" -->

          <div class="secondary__calendar calendar">
            <h2>Дата публикации</h2>
            <img src="https://i.imgur.com/b1QErDj.png" alt="пусть будет">
          </div>

          <button class="filter-menu__apply primary-button">Применить</button>
        </div>
        <div class="secondary__opinions opinions">
          <script defer src="/js/index/swiper-opinions.js"></script>
          <h2 class="opinions__title">Мнение</h2>

          <div class="swiper opinions__swiper">
            <div class="swiper-wrapper">
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
              <!--#include virtual="/partials/index/common/opinions.html" -->
            </div>
            <div class="swiper__navigation">
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>

        </div>

        <div class="common__video video">
          <h2 class="video__title">Видео</h2>
          <div class="video__items">
            <!--#include virtual="/partials/index/common/video.html" -->
            <!--#include virtual="/partials/index/common/video.html" -->
            <!--#include virtual="/partials/index/common/video.html" -->
          </div>
          <a class="video__more primary-button" href="#">Плейлисты</a>
        </div>

      </div>

    </div>

  </div>
</section>
